<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:panel header="#{administration['reservation.header.reservations']}">
        <h:form id="reservationDataTable">  
            <p:messages id="messagesR"/>
                       
                <p:dataTable id="dataTable" var="reserv" value="#{adminReservations.allReservations}"
                             paginator="true" rows="10" lazy="true" paginatorPosition="bottom"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" style="width: 100%;">

                    <p:column>  
                        <f:facet name="header">  
                            <h:outputText value="#{administration['reservation.table.delete']}" />  
                        </f:facet>  
                        <p:commandButton id="deleteRbutton" icon="ui-icon-trash" 
                                         ajax="true"
                                         action="#{adminReservations.deleteReservation()}" 
                                         update="dataTable, :tabView:reservationDataTable:messagesR"
                                         title="#{administration['reservation.button.title.delete']}">  
                            <f:setPropertyActionListener value="#{reserv}" 
                                                         target="#{adminReservations.currentReservation}" />  
                        </p:commandButton>                       
                    </p:column> 

                    <p:column id="modelHeader" sortBy="#{reserv.startDate}">  
                        <f:facet name="header">  
                            <h:outputText value="#{administration['reservation.table.startdate']}" />  
                        </f:facet>  
                        <h:outputText value="#{reserv.startDate}" />  
                    </p:column>  

                    <p:column sortBy="#{reserv.endDate}">  
                        <f:facet name="header">  
                            <h:outputText value="#{administration['reservation.table.enddate']}" />  
                        </f:facet>  
                        <h:outputText value="#{reserv.endDate}" />  
                    </p:column>  

                    <p:column sortBy="#{reserv.title}" filterBy="#{reserv.title}">  
                        <f:facet name="header">  
                            <h:outputText value="#{administration['reservation.table.title']}" />  
                        </f:facet>  
                        <h:outputText value="#{reserv.title}" />  
                    </p:column>  

                    <p:column sortBy="#{reserv.sportFacility.name}" filterBy="#{reserv.sportFacility.name}">  
                        <f:facet name="header">  
                            <h:outputText value="#{administration['reservation.table.sportfacilityname']}" />  
                        </f:facet>  
                        <h:outputText value="#{reserv.sportFacility.name}" />  
                    </p:column>  

                    <p:column sortBy="#{reserv.sport.name}" filterBy="#{reserv.sport.name}">  
                        <f:facet name="header">  
                            <h:outputText value="#{administration['reservation.table.sportname']}" />  
                        </f:facet>  
                        <h:outputText value="#{reserv.sport.name}" />  
                    </p:column> 

                    <p:column sortBy="#{reserv.userE.email}" filterBy="#{reserv.userE.email}">  
                        <f:facet name="header">  
                            <h:outputText value="#{administration['reservation.table.useremail']}" />  
                        </f:facet>  
                        <h:outputText value="#{reserv.userE.email}" />  
                    </p:column> 
                </p:dataTable>   
            
        </h:form>  
    </p:panel>


</ui:composition>