<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">

        
    <p:panel header="#{administration['user.header.permission']}">    
        <p:messages id="msg"/>
        <h:form id="formsearchuser"> 
            <h:panelGrid columns="3" cellpadding="10">  

                <h:outputLabel for="finduserinput" value="#{administration['user.label.emailid']}" />
                <p:inputText id="finduserinput" 
                             requiredMessage="#{administration['user.input.required.emailid']}"                                            
                             value="#{adminUserBean.searchString}" 
                             required="true"/> 

                <p:commandButton value="#{administration['user.button.find']}" 
                                 ajax="true"
                                 actionListener="#{adminUserBean.searchUser}" 
                                 update=":tabView:formsetadmin:foundeduserdisplay,:tabView:msg" 
                                 id="searchUserButton"/> 
            </h:panelGrid>
        </h:form> 
        <h:form id="formsetadmin"> 
            <p:outputPanel id="foundeduserdisplay">
                <h:panelGrid columns="3" 
                             cellpadding="10" 
                             rendered="#{adminUserBean.renderPanelWithResults}"> 
                    <h:outputText id="foundeduserout"
                                  escape="false"
                                  value="#{adminUserBean.foundUser.email}" /> 

                    <p:selectBooleanCheckbox  id="isAdminCheckbox"  value="#{adminUserBean.foundUser.admin}">  
                        <p:ajax update=":tabView:msg, :tabView:alladminsDL" listener="#{adminUserBean.changeAdminPermission}"/>  
                    </p:selectBooleanCheckbox>  
                    
                    <h:outputText value="#{administration['user.founded.admin']}" />                    
                </h:panelGrid>
            </p:outputPanel>
        </h:form> 

    </p:panel>
    
    <p:panel header="#{administration['user.header.administrators']}">  
        <h:panelGrid columns="1" cellpadding="10">
            <p:dataList value="#{adminUserBean.allAdmins}" var="alladmins" id="alladminsDL"  
                        paginator="true" rows="5"  
                        paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink} {RowsPerPageDropdown}"  
                        rowsPerPageTemplate="10,15,20" paginatorPosition="bottom" type="none">  

                <h:outputText value="#{alladmins.email}" style="margin-left:10px" />
                <br />  
            </p:dataList>
        </h:panelGrid>  
    </p:panel>   

</ui:composition>
