<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/template.xhtml">

    <ui:define name="leftContent">
        <ui:include src="usersettingsleftmenu.xhtml" />
    </ui:define>    

    <ui:define name="centerContent">
        <p:panel header="#{settings['panel.header.editdetails']}">
            <p:messages id="msgUserUpdate"/>
            <h:form id="changeUserDetailsForm">
                <h:panelGrid id="regGrid" columns="2" cellpadding="1">
                    <h:outputLabel value="#{registration['firstname']}"/>
                    <p:inputText id="firstName" value="#{userSettingsBean.updatedUser.firsname}" 
                                 required="true" requiredMessage="#{registration['firstname.requiredmessage']}"/>

                    <h:outputLabel value="#{registration['lastname']}"/>
                    <p:inputText id="lastName" value="#{userSettingsBean.updatedUser.lastname}" 
                                 required="true" requiredMessage="#{registration['lastname.requiredmessage']}"/>

                    <h:outputLabel value="#{registration['email']}"/>                
                    <p:inputText id="emailAdr" value="#{userSettingsBean.updatedUser.email}" 
                                 required="true" requiredMessage="#{registration['email.requiredmessage']}"
                                 validatorMessage="#{registration['email.notvalid']}">
                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
                    </p:inputText>

                    <h:outputLabel value="#{registration['phone']}"/>
                    <p:inputText id="phoneNumber" value="#{userSettingsBean.updatedUser.phone}" 
                                 required="true" requiredMessage="#{registration['phone.requiredmessage']}"/>

                    <h:outputLabel value="#{settings['newpassword']}"/>
                    <p:password id="newPassword"  
                                value="#{userSettingsBean.updatedUser.passwd}" 
                                feedback="true" 
                                redisplay="true" inline="true" required="true"
                                promptLabel="#{registration['password.promptlabel']}"
                                weakLabel="#{registration['weak.label']}"
                                strongLabel="#{registration['strong.label']}"
                                goodLabel="#{registration['good.label']}"
                                requiredMessage="#{registration['password.requiredmessage']}"/>   

                    <h:outputLabel value="#{settings['newpassword.confirm']}"/>
                    <p:password id="confirmNewPassword"  value="#{userSettingsBean.confirmPassword}" 
                                inline="true"
                                requiredMessage="#{registration['password.confirmmessage']}"/>

                    <h:outputLabel value="#{settings['currentpassword']}"/>
                    <p:password id="currentPassword"  value="#{userSettingsBean.currentPassword}" 
                                inline="true" required="true"
                                requiredMessage="#{registration['password.requiredmessage']}"/>

                    <p:commandButton id="addUser" value="#{settings['save.value']}" 
                                     action="#{userSettingsBean.updateUser}" ajax="true"
                                     update=":msgUserUpdate, currentPassword, :menuform"/>  
                </h:panelGrid>
            </h:form>
        </p:panel>
    </ui:define>

</ui:composition>