<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form>
        <p:menu style="width: 95%">  
            <p:submenu label="#{settings['leftmenu.caption.settings']}">  
                <p:menuitem value="#{settings['leftmenu.personaldetails']}" outcome="userdetails" icon="ui-icon-disk" />  
                <p:menuitem value="#{settings['leftmenu.favoritesports']}" outcome="userfavoritesports" icon="ui-icon-arrowrefresh-1-w"/>  
            </p:submenu>    
        </p:menu> 
    </h:form>
</ui:composition>

