<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:define name="centerContent">
        <p:messages id="msgreg"/>
        <h:form>
            <p:fieldset legend="#{registration['legend.personalinformation']}">
                <h:panelGrid id="regGrid" columns="2" cellpadding="1">
                    <h:outputLabel value="#{registration['firstname']}"/>
                    <p:inputText id="firstName" value="#{userManagedBean.user.firsname}" 
                                 required="true" requiredMessage="#{registration['firstname.requiredmessage']}"/>
                    <p:tooltip for="firstName" value="#{registration['firstname.requiredmessage']}" showEffect="fade" hideEffect="fade" /><br/>
                    <h:outputLabel value="#{registration['lastname']}"/>
                    <p:inputText id="lastName" value="#{userManagedBean.user.lastname}" 
                                 required="true" requiredMessage="#{registration['lastname.requiredmessage']}"/>
                    <p:tooltip for="lastName" value="#{registration['lastname.requiredmessage']}" showEffect="fade" hideEffect="fade" /><br/>
                    <h:outputLabel value="#{registration['email']}"/>
                    <p:inputText id="emailAdr" value="#{userManagedBean.user.email}" 
                                 required="true" requiredMessage="#{registration['email.requiredmessage']}"
                                 validatorMessage="#{registration['email.notvalid']}">
                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
                    </p:inputText>
                    <p:tooltip for="emailAdr" value="#{registration['email.requiredmessage']}" showEffect="fade" hideEffect="fade" /><br/>
                    <h:outputLabel value="#{registration['phone']}"/>
                    <p:inputText id="phoneNumber" value="#{userManagedBean.user.phone}" 
                                 required="true" requiredMessage="#{registration['phone.requiredmessage']}"/>
                    <p:tooltip for="phoneNumber" value="#{registration['phone.requiredmessage']}" showEffect="fade" hideEffect="fade" /><br/>
                    <h:outputLabel value="#{registration['password']}"/>
                    <p:password id="password"  value="#{userManagedBean.user.passwd}" 
                                feedback="true" inline="true" required="true"
                                promptLabel="#{registration['password.promptlabel']}"
                                weakLabel="#{registration['weak.label']}"
                                strongLabel="#{registration['strong.label']}"
                                goodLabel="#{registration['good.label']}"
                                requiredMessage="#{registration['password.requiredmessage']}"/>
                    <p:tooltip for="password" value="#{registration['password.requiredmessage']}" showEffect="fade" hideEffect="fade" /><br/>
                    <h:outputLabel value="#{registration['password.confirm']}"/>
                    <p:password id="confirmPassword"  value="#{userManagedBean.passwordConfirm}" 
                                inline="true" required="true"
                                requiredMessage="#{registration['password.confirmmessage']}"/>
                    <p:tooltip for="confirmPassword" value="#{registration['password.confirmmessage']}" showEffect="fade" hideEffect="fade" /><br/>
                    <h:form>

                        <h:outputText value="#{registration['agreement']}" />  
                        <h:selectBooleanCheckbox value="#{agreementBean.agreement}">
                            <p:ajax event="change" update="panelSave" />
                        </h:selectBooleanCheckbox>

                        <h:panelGrid id="panelSave" columns="2" style="margin-bottom:10px" cellpadding="5">
                            <p:commandButton id="addUser" value="#{registration['save.value']}" rendered="#{agreementBean.agreement}"
                                             action="#{userManagedBean.addUser}" ajax="false"
                                             update="msgreg"/>
                        </h:panelGrid>
                    </h:form>
                </h:panelGrid>
            </p:fieldset>
        </h:form>
    </ui:define>
    <ui:define name="leftContent">
        <ui:include src="homeNoTemplate.xhtml" />
    </ui:define>
    <ui:define name="rightContent">
        <h:form>
            <br /><br /><br /><br />
            <p:imageSwitch effect="turnDown" style=" display: block;   margin-left: auto;   margin-right: auto;">  
                <ui:repeat value="#{imageSwitch.images}" var="image">  
                    <p:graphicImage value="resources/images/#{image}"/>  
                </ui:repeat>  
            </p:imageSwitch>
        </h:form>
    </ui:define>
</ui:composition>

