<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view contentType="text/html" id="fview" locale="#{language.locale}">

        <title>BookYourSport</title>

        <h:head>
            <f:facet name="first">
                <meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>BookYourSport</title>
            </f:facet>


            <style type="text/css">
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:visible !important;;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:visible !important;
                }
                .languages{
                    margin: 0 auto;
                    width: 54px
                }
                .languagesItem{
                    margin: 2px;
                } 
            </style>

        </h:head>

        <h:body>            
            <h:outputScript library="js" name="schedule_sk_SK.js" target="head" rendered="#{language.insertJS == true}" /> 

            <p:layout fullPage="true" >

                <p:layoutUnit id="top" position="north" size="50" >                
                    <h:form id="menuform">
                    <p:menubar autoDisplay="true">
                        <p:submenu label="#{template['home']}" icon="ui-icon-home">
                            <p:menuitem value="#{template['home.home']}" outcome="pretty:home"/>
                        </p:submenu>

                        <p:submenu label="#{template['sports']}" icon="ui-icon-document">
                            <p:menuitem value="#{template['sports.sports']}" outcome="pretty:sports"></p:menuitem>
                        </p:submenu>

                        <p:submenu label="#{template['registrationlogin']}" icon="ui-icon-person" rendered="#{!loginBean.loggedIn}">
                            <p:menuitem value="#{template['registrationlogin.registration']}" outcome="pretty:registration"/>
                            <p:menuitem value="#{template['registrationlogin.login']}" outcome="pretty:login"/>
                        </p:submenu>

                        <p:submenu label="#{template['contactus']}" icon="ui-icon-contact">
                            <p:menuitem value="#{template['contactus.contactus']}" outcome="pretty:contactus" />
                        </p:submenu>

                        <p:submenu label="#{template['help']}" icon="ui-icon-help">
                            <p:menuitem value="#{template['help.help']}" outcome="pretty:help" />
                        </p:submenu>     
                        
                        <p:submenu id="userMenuItem" label="#{loginBean.user.firsname} #{loginBean.user.lastname}" 
                                   icon="ui-icon-person" rendered="#{loginBean.loggedIn}" style="float: right;">                            
                                <p:menuitem value="#{template['settings']}"  outcome="pretty:userdetails" />
                                <p:menuitem value="#{template['logout']}" ajax="false" action="#{loginBean.logOut}" />                                                          
                        </p:submenu>                       
                    </p:menubar>    
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit id="left" position="west" size="260">                    
                    <ui:insert name="leftContent" />
                </p:layoutUnit>

                <p:layoutUnit id="center" position="center">                    
                    <ui:insert name="centerContent"/>                   
                </p:layoutUnit>

                <p:layoutUnit id="right" position="east" size="330" minSize="200">
                    <ui:insert name="rightContent" />   
                </p:layoutUnit>

                <p:layoutUnit id="bottom" position="south" size="60"> 
                    <h:form styleClass="languages" >
                        <h:commandLink id="sk_SK" actionListener="#{language.changeLanguage}">
                            <p:graphicImage id="sk_ln"
                                            value="#{resource['images:sk.png']}"
                                            alt="SK"
                                            width="22"
                                            height="12"
                                            styleClass="languagesItem">
                            </p:graphicImage>
                        </h:commandLink>   

                        <h:commandLink id="en_EN" actionListener="#{language.changeLanguage}">
                            <p:graphicImage id="en_ln"
                                            value="#{resource['images:en.png']}"
                                            alt="EN"
                                            width="22"
                                            height="12"
                                            styleClass="languagesItem">
                            </p:graphicImage>
                        </h:commandLink>  
                    </h:form>
                    <h:form style="text-align: center">
                        <h:outputText value="© 2012 G.Červeňák M.Hančák L.Maliňak"/>
                    </h:form>
                    <h:link rendered="#{(loginBean.loggedIn and loginBean.adminLoggin)}" 
                                value="#{template['administration']}" 
                                outcome="pretty:admin"
                                style="display:block;text-align:center;font-weight:bold;"/> 
                    
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

